body {
  background: #e105d66b;
}
.back {
  width: 1000px;
  height: 700px;
  top: 0%;
  overflow: hidden;
  left: 0;
  transform: translate(10%, 0%);
  position: absolute;
  border-radius: 50px;
}
.girl {
  width: 300px;
  height: 400px;
  position: absolute;
  margin-top: 255px;
  margin-left: 750px;
  animation: girl 8s ease-in-out infinite;
}
/*==== ANIMATION GIRL ====*/
@keyframes girl {
  20%,
  40%,
  60%,
  80%,
  100% {
    transform-origin: top center;
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
 60% {
    transform: rotate(5);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.A1 {
  width: auto;
  height: 400px;
  position: absolute;
  overflow: hidden;
  margin-left: 100px;
  margin-top: -50px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -1s;
}

.L2 {
  width: auto;
  height: 400px;
  position: absolute;
  overflow: hidden;
  margin-left: 250px;
  margin-top: -100px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -1s;
}
.I3 {
  width: auto;
  height: 400px;
  position: absolute;
  overflow: hidden;
  margin-left: 400px;
  margin-top: -120px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -1s;
}
.N4 {
  width: auto;
  height: 400px;
  position: absolute;
  overflow: hidden;
  margin-left: 540px;
  margin-top: -150px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -1s;
}
.E5 {
  width: auto;
  height: 400px;
  position: absolute;
  overflow: hidden;
  margin-left: 670px;
  margin-top: -180px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -1s;
}
.love1 {
  width: 90px;
  height: auto;
  position: absolute;
  overflow: hidden;
  margin-left: 200px;
  margin-top: -50px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -1.2s;
}
.love2 {
  width: 90px;
  height: auto;
  position: absolute;
  overflow: hidden;
  margin-left: 350px;
  margin-top: -80px;
  animation: love 8s ease-in-out infinite;
  animation-delay: -0.2s;
}
.love3 {
  width: 90px;
  height: auto;
  position: absolute;
  overflow: hidden;
  margin-left: 480px;
  margin-top: -90px;
  animation: love 8s ease-in-out infinite;
  animation-delay: 1.2s;
}
.love4 {
  width: 90px;
  height: auto;
  position: absolute;
  overflow: hidden;
  margin-left: 600px;
  margin-top: -50px;
  animation: love 8s ease-in-out infinite;
  animation-delay: 1.2s;
}
/*==== ANIMATION LOVE ====*/
@keyframes love {
  20%,
  40%,
  60%,
  80%,
  100% {
    transform-origin: top center;
  }
  20% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*==== BOY ====*/
.boy {
  width: 470px;
  height: 400px;
  position: absolute;
  margin-left: 450px;
  margin-top: 340px;
  overflow: hidden;
}
.ballon {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  margin-left: 570px;
  margin-top: 310px;
  animation: ballon 4s ease-in-out infinite;
}
/*==== ANIMARION BALLON ====*/
@keyframes ballon {
  50%,
  100% {
    transform-origin: bottom center;
  }

  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}